body {
    background-color: #cccccc;
}

#charts{
    position:absolute;
    left:1100px; 
    top:100px;
}
.container{
    padding-right: 10px;
    position:absolute;
    left:20px; 
    top:50px;
}

tr{
    text-align: center;
    vertical-align: middle;
}