body {
    background-image: url("img11.jpg");
    background-color: #cccccc;
}

.container{
    padding: 20px;
}

.container2{
    position: relative;;
}

tr{
    text-align: center;
    vertical-align: middle;
}


.navbar-custom .navbar-text {
    background-color: black;
    opacity: 80%;
    color: whitesmoke;
}
